
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1557821552-17105176677c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1MTIxODl8MHwxfHNlYXJjaHwxfHxjYXJ0fGVufDB8fHx8MTY5Njc3ODA1N3ww&ixlib=rb-4.0.3&q=80&w=400" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Buy Jeans</h5>
        <p>Shop our latest collection of jeans.</p>
        <a href="#" class="btn btn-secondary">Shop Now</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1557821552-17105176677c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1MTIxODl8MHwxfHNlYXJjaHwxfHxjYXJ0fGVufDB8fHx8MTY5Njc3ODA1N3ww&ixlib=rb-4.0.3&q=80&w=400" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Buy Jeans</h5>
        <p>Discover our stylish jeans collection.</p>
        <a href="#" class="btn btn-primary">Shop Now</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1557821552-17105176677c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1MTIxODl8MHwxfHNlYXJjaHwxfHxjYXJ0fGVufDB8fHx8MTY5Njc3ODA1N3ww&ixlib=rb-4.0.3&q=80&w=400" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Buy Jeans</h5>
        <p>Upgrade your wardrobe with our jeans collection.</p>
        <a href="#" class="btn btn-success">Shop Now</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<div class="card-grid">
  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1604176354204-9268737828e4?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w1MTIxODl8MHwxfHNlYXJjaHwxfHxqZWFuc3xlbnwwfHx8fDE2OTY3ODAzNTh8MA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title 1</h5>
      <p class="card-text">New Collection Of Sunday</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1606902965551-dce093cda6e7?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w1MTIxODl8MHwxfHNlYXJjaHwxfHxsZWdnaW5nc3xlbnwwfHx8fDE2OTY3ODA0NTd8MA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title 6</h5>
      <p class="card-text">New Collection Of Sunday</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1606902965551-dce093cda6e7?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w1MTIxODl8MHwxfHNlYXJjaHwxfHxsZWdnaW5nc3xlbnwwfHx8fDE2OTY3ODA0NTd8MA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title 6</h5>
      <p class="card-text">New Collection Of Sunday</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>

</div>

<div class="card-grid">
  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1590779344116-850e5901fc0f?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w1MTIxODl8MHwxfHNlYXJjaHwxfHxidXJrYXxlbnwwfHx8fDE2OTY3ODA0OTh8MA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title 1</h5>
      <p class="card-text">New Collection Of Sunday</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1606902965551-dce093cda6e7?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w1MTIxODl8MHwxfHNlYXJjaHwxfHxsZWdnaW5nc3xlbnwwfHx8fDE2OTY3ODA0NTd8MA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title 6</h5>
      <p class="card-text">New Collection Of Sunday</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1606902965551-dce093cda6e7?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w1MTIxODl8MHwxfHNlYXJjaHwxfHxsZWdnaW5nc3xlbnwwfHx8fDE2OTY3ODA0NTd8MA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title 6</h5>
      <p class="card-text">New Collection Of Sunday</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>

</div>


<div class="container">
  <section class="py-5">
    <div class="row">
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut purus vehicula, malesuada urna in, congue ipsum. Fusce eget justo in libero aliquet facilisis. Praesent non eros ut tortor convallis efficitur.</p>
        <p>Nulla facilisi. Sed in justo vel nisl fermentum vestibulum. In hac habitasse platea dictumst. Etiam suscipit ligula id augue fermentum, in cursus massa efficitur.</p>
      </div>
     
    </div>
  </section>
</div>






